html{
    margin: 0;
}
body{
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
    background: #2C3E50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4CA1AF, #2C3E50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4CA1AF, #2C3E50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: "Poppins",sans-serif;
}


li{
    color: white;
}
/*Navigation bar*/
.navbar{
    display: flex;
    padding: 5px;
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: fixed;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    z-index: 1;
    
}

.navbar h1{
    flex: 1;
    margin: 0;
    padding: 2px;
    padding-left: 40px;
    /* border: 1px black solid; */
    color: white;
    font-family: "Poppins",sans-serif;
}

.navbar .search{
    flex: 1;
    /* border: 1px black solid; */
}
.navbar nav{
    flex: 1;
    padding-top: 0px;
    /* border: 1px black solid; */

}
.navbar .search input{
    margin: 10px;
    font-family: "Poppins",sans-serif;
}

.navbar .search input[type='text']{
    width: 300px;
    background: #f1f1f1;
    font-size: 17px;
    height: 26px;
    border: none;
}

.navbar .search input[type='submit']{
  width: 20%;
  padding: 5px;
  background: #2196F3;
  color: white;
  font-size: 17px; 
  cursor: pointer;
  border: none;
}
.navbar .search input[type='submit']:hover{
    width: 20%;
    padding: 5px;
    background: #1a6fb4;
    color: white;
    font-size: 17px; 
    cursor: pointer;
    border: none;
  
  }




.navbar h1 a{
    text-decoration: none;
    color: white;
}
.navbar nav a{
    margin: 20px;   
    margin-left: 20px;
    padding:20px;
    text-decoration: none;
    color: white;
    font-family: "Poppins",sans-serif;
    
}

.navbar nav a:hover{
    margin: 20px;   
    margin-left: 20px;
    padding: 20px;
    text-decoration: none;
    color:#1a6fb4;
    background-color:rgb(226, 226, 226);
    font-family: "Poppins",sans-serif;
    border-bottom: 5px #1a6fb4 solid;
}
/*Content*/
.content {
    display:flex;
    overflow:auto;
    margin: 0px;
    
}

.content div{
    margin: 0px;
    margin-top: 10px;
    border: 1px solid;
    padding: 20px;

}

.content h1{
    font-size: 20px;
    
}
.content iframe{
    width:100%; 
    height:400px;
}
.content .left{
    flex: 1;
    height: auto;
    margin-top: 5%;
    
}

.content .right{
    flex: 1;
    height: auto;
    margin-top: 5%;
}

.content .mid{
    flex: 2;
    height: auto;
    margin-top: 5%;

}

.content .mid .module{
    margin: 30px;
    background: #ECE9E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #ECE9E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #ECE9E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 16px;
    box-shadow: 1px 1px 7px #232526;
}

.content .right nav{
    display: flex;
    flex-direction: column;
    
}

.content .right nav .listchannel h1{
    margin: 0px;
    margin-left: 100px;
}

.content .right nav .listchannel img{
    width: 70px;
    height: 70px;
    margin: 0px;
    padding:0px;
}
/*End of content*/

/*Animation practice*/

#contain {
    width: 200px;
    height: 200px;
    background: green;
    position: relative;
}

#box {
    width: 50px;
    height: 50px;
    background: red;
    position: absolute;
}

/*end of animation practice*/

button {
    margin-top:30px;
    float:left;
    height:50px;
}
img {
    float:left;
    margin-right:10px;
    margin-left:10px;
 }